.recipe-header {
    padding-top: 50px;
    color: #39530c;
}

.breakfast-heading {
    padding-top: 50px;
}

.breakfast-container {
    display: flex;
}

.saved-button {
    background-color: #39530c !important;
    color: #fff;
  }